<div id="edit-profile-modal">
    <div class="header-modal"><div class="close" (click)="closeModal()">+</div> Edit profile</div><hr/>
    <div class="sign-up-content">
      <div class="name"><i class="fas fa-user fa-2x"></i> <input [(ngModel)]="user.firstName" type="text"  class="form-input"> </div><br/>
      <div class="name"><i class="fas fa-user fa-2x"></i> <input [(ngModel)]="user.lastName"  type="text"  class="form-input"> </div><br/>
      <div class="email"><i class="fas fa-at fa-2x"></i>  <input [(ngModel)]="user.email"  [readonly]="true"   type="text"  class="form-input"> </div><br/>
      <div class="change-password link-light item"> <label (click)="showChangePasswordForm($event)">Change password?</label> </div><br/>
      <div class="password">
        <div class="name"><i class="fas fa-lock fa-2x"></i> <input placeholder="Current password" type="password" class="form-input"></div><br/>
        <div class="name"><i class="fas fa-lock fa-2x"></i> <input placeholder="New password" [(ngModel)]="newPassword" type="password" class="form-input"> </div><br/>
        <div class="name"><i class="fas fa-lock fa-2x"></i> <input placeholder="Confirm password" type="password" class="form-input"> </div>
      </div>
      
    </div><hr/>
    <div class="btn-submit-wrapper"><button class="btn-submit" (click)="editUser()">CONFIRM</button></div>
</div>

<div class="page">
    <navbar></navbar>
    <div class="profile">
        <div class="user-details">
            <div class="data">
                <h3> {{user.firstName}} {{user.lastName}} </h3>
                <h6> {{user.email}}</h6><br/><br/>
                <a [routerLink]="['/add-movie']" ><div> Add new movie</div></a>
            </div>
            <i class="fas fa-solid fa-pen" (click)="editProfile($event)"></i>
        </div><br/>
        <hr/><br/>
        <movie-list *ngIf="watchlist.length > 0"      [title]="'Your watchlist'" [movies]="watchlist"  [displayedMoviesLength]="3"></movie-list><br/>
        <movie-list *ngIf="reviewedByUser.length > 0" [title]="'Your ratings'"   [movies]="reviewedByUser"  [displayedMoviesLength]="3"></movie-list><br/>
    </div>
</div>
