.profile{
    margin-left: 15%;
    height: 100%;
    width: 70%;
 
    color: white;
    display: flex;
    flex-direction: column;
    background: transparent;
}
.user-details{
    padding: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-profile-modal{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 35%;
    height: 80%;
    background-color: rgb(15, 15, 15);
    margin: 5% 30%;
    z-index: 1;
}
.header-modal{
    width: 100%;
    height: 10%;
    font-size: 30px;
    color: rgb(238, 220, 55);
    padding: 4% 34%;
    padding-bottom: 7%;
}
.sign-up-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 6%;
}
.name{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.email{
    display: flex;
    flex-direction: row;
    margin-left: 9%;
}
.change-password{
    margin-left:35%;
    color:rgb(238, 220, 55);
}
.form-input{
    width: 65%;
    height: 2.1em;
    border-width: 1px;
    border-radius: 10px;
    text-indent: 10px;
    margin: 1% 5%;
    z-index: 1;
}
.password{
    display: none;
}
.fas{
    color: #f3ce13;
    z-index: 1;
}
.fa-pen{
    color: white;
}
.close{
    position: absolute;
    top:0;
    right: 3%;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    color: #797575;
}
.close:hover{
  position: absolute;
  top:0;
  right: 3%;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
  color: #b4b0b0;
}
.btn-submit-wrapper{
    display: flex;
    justify-content: center;
    height: 10%;
}
.btn-submit{
    margin-top: 5%;
    margin-right: 5%;
    width: 25%;
    height: 2em;
    color: black;
    font-family: sans-serif;
    background-color: #f3ce13;
    border: none;
} 
.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background:url(../../assets/images/main-2.jpg);
    background-size:cover;
    box-shadow: inset 0 0 0 1000px rgba(16, 50, 112, 0.1);
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 3px #363636;
}
a{
    color: white;
}