<div id="edit-profile-modal">
    <div class="header-modal"><div class="close" (click)="closeModal()">+</div> Edit profile</div><hr/>
    <div class="sign-up-content">
      <div class="name"><i class="fas fa-user fa-2x"></i> <input [(ngModel)]="user.name"    type="text"     class="form-input"> </div><br/>
      <div class="name"><i class="fas fa-user fa-2x"></i> <input [(ngModel)]="user.surname" type="text"     class="form-input"> </div><br/>
      <div class="email"><i class="fas fa-at fa-2x"></i>  <input [(ngModel)]="user.email"   type="text"     class="form-input"> </div><br/>
      <div class="change-password link-light item"> <label (click)="showChangePasswordForm($event)">Change password?</label> </div><br/>
      <div class="password">
        <div class="name"><i class="fas fa-lock fa-2x"></i> <input placeholder="Current password" type="password" class="form-input"></div><br/>
        <div class="name"><i class="fas fa-lock fa-2x"></i> <input placeholder="New password" [(ngModel)]="newPassword" type="password" class="form-input"> </div><br/>
        <div class="name"><i class="fas fa-lock fa-2x"></i> <input placeholder="Confirm password" type="password" class="form-input"> </div>
      </div>
      
    </div><hr/>
    <div class="btn-submit-wrapper"><button class="btn-submit">CONFIRM</button></div>
</div>

<div class="page">
    <navbar></navbar>
    <div class="profile">
        <div class="user-details">
            <div class="data">
                <h3> {{user.name}} {{user.surname}} </h3>
                <h6> {{user.email}}</h6>
            </div>
            <i class="fas fa-solid fa-pen" (click)="editProfile($event)"></i>
        </div><br/><hr/><br/>
        <movie-list [title]="'Your watchlist'"      [movies]="user.watchlist"  [displayedMoviesLength]="3"></movie-list><br/>
        <movie-list [title]="'Recommended for you'" [movies]="user.watchlist"  [displayedMoviesLength]="3"></movie-list><br/>
    </div>
</div>
