<div class="page" *ngIf="user">
    <navbar></navbar>
    <div class="profile">
        <div class="user-details">
            <div class="data">
                <h3> {{user.firstName}} {{user.lastName}} </h3>
                <h6> {{user.email}}</h6><br/><br/>
                <a *ngIf="role == 'ROLE_ADMIN'" [routerLink]="['/add-movie']" ><div> Add new movie</div></a>
            </div>
            <span class="fa-span"><i class="fas fa-solid fa-pen" routerLink="/edit-profile"> Edit your profile</i></span>
        </div><br/>
        <movie-list *ngIf="watchlist.length > 0"      [title]="'Your watchlist'" [movies]="watchlist"  [displayedMoviesLength]="3"></movie-list><br/>
        <movie-list *ngIf="reviewedByUser.length > 0" [title]="'Your ratings'"   [movies]="reviewedByUser"  [displayedMoviesLength]="3"></movie-list><br/>
    </div>
</div>