<div class="header">
    <div id="logo"> {{title}}</div>
    <div class="search">
      <div class="filter">
          <a href="#" class="link-light dropdown-toggle item" 
           role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</a>
          <div class="dropdown-menu drop" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Movies</a>
            <a class="dropdown-item" href="#">TV shows</a>
          </div>
      </div>
      <input id="search-field" type="text">
    </div>
    <div class="login">
      <a href="#" class="link-light item">Sign up</a>
      <a href="#" class="link-light item">Log in</a>
    </div>
</div>
