.header{
    display: flex;
    flex-direction: row;
    background-color: #181818;
    justify-content: space-evenly;
    margin-bottom: 0px;
  }
  #logo{
    color:rgba(255, 255, 255, 0.88);
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-family: sans-serif;
    font-size: x-large;
  }
  .search{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #search-field{
    width: 90%;
    border-radius:1.5rem;
    height: 40px;  
    margin-left: 1%;
  }
  .login{
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
  }