<div id="sign-up-modal">
    <div class="header-modal"><div class="close" (click)="closeSignupModal()">+</div> Sign up</div><hr/>
    <div class="sign-up-content">
      <div class="name"> <i class="fas fa-user fa-2x"></i> <input type="text"     [(ngModel)]="newUser.firstName" placeholder="Name*"           class="form-input"></div><br/>
      <div class="name"> <i class="fas fa-user fa-2x"></i> <input type="text"     [(ngModel)]="newUser.lastName"  placeholder="Surname*"        class="form-input"></div><br/>
      <div class="email"><i class="fas fa-at fa-2x">  </i> <input type="email"     [(ngModel)]="newUser.email"     placeholder="Email address*"  class="form-input"></div><br/>
      <div class="name"> <i class="fas fa-lock fa-2x"></i> <input type="password" [(ngModel)]="newUser.password"  placeholder="Password*"       class="form-input"></div><br/>
      <div class="name"> <i class="fas fa-lock fa-2x"></i> <input type="password" placeholder="Confirm password*"   class="form-input"></div>
    </div><hr/>
    <div class="btn-submit-wrapper"><button class="btn-submit" (click)="registerUser($event)">CONFIRM</button></div>
</div>

<div id="log-in-modal">
  <div class="header-modal"><div class="close" (click)="closeLoginModal()">+</div> Log in</div><hr/>
  <div class="log-in-content">
    <div class="email"><i class="fas fa-at fa-2x"></i>  <input type="text"     [(ngModel)]="loginCredentials.email"    placeholder="Email address*" class="form-input"> </div><br/>
    <div class="name"> <i class="fas fa-lock fa-2x"></i><input type="password" [(ngModel)]="loginCredentials.password" placeholder="Password*"      class="form-input"> </div><br/>
  </div><hr/>
  <div class="btn-login-wrapper"><button class="btn-submit" (click)="logUser()">CONFIRM</button></div>
</div>

<div class="header">
    <a id="logo" [routerLink]="['/home']">{{title}}</a> 
    <div class="search">
      <div class="filter">
          <a href="#" class="link-light dropdown-toggle item" 
           role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Movies</a>
            <a class="dropdown-item" href="#">TV shows</a>
          </div>
      </div>
      <div class="search-field-wrapper">
        <input id="search-field" class="link-dark dropdown-toggle item" type="search" (keyup.enter)="onAddSearchParam()" (focusout)="onFocusLost($event)" [(ngModel)]='searchParam' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <table  class="dropdown-menu dropdown-menu-dark" aria-labelledby="search-field" style="width: 54%;"> 
          <label *ngIf="searchResults.length === 0">No results found</label>
          <tr class="dropdown-item result-header" *ngFor="let movie of searchResults">
              <img class="movie-img" [src]=movie.image />
              <div class="title-and-image">
                  <label> {{movie.name}} </label>
                  <label>{{movie.year}}</label>
                  <label>Marlon Brando, Al Pacino</label>
              </div><hr/>
          </tr>
        </table>
      </div>
      
    </div>
    <div class="login" *ngIf="!loggedUser">
      <a class="link-light item" (click)="openSignUpModal($event)">Sign up</a>
      <a class="link-light item" (click)="openLoginModal($event)" >Log in</a>
    </div>
    <div class="login" *ngIf="loggedUser">
      <a class="link-light item" [routerLink]="['/user', loggedUser.id]"> My profile</a>
      <a class="link-light item" (click)="logout($event)">Log out</a>
    </div>
</div>
