<div id="sign-up-modal">
    <div class="header-modal"><div class="close" (click)="closeSignupModal()">+</div> Sign up</div><hr/>
    <div class="sign-up-content">
      <div class="name"><i class="fas fa-user fa-2x"></i>     <input type="text" placeholder="Name*"          class="form-input"> </div><br/>
      <div class="name"><i class="fas fa-user fa-2x"></i>     <input type="text" placeholder="Surname*"       class="form-input"></div><br/>
      <div class="email"><i class="fas fa-at fa-2x"></i> <input type="text" placeholder="Email address*"      class="form-input"> </div><br/>
      <div class="name"><i class="fas fa-lock fa-2x"></i>     <input type="password" placeholder="Password*"  class="form-input"> </div><br/>
      <div class="name"><i class="fas fa-lock fa-2x"></i>     <input type="password" placeholder="Confirm password*" class="form-input"></div>
    </div><hr/>
    <div class="btn-submit-wrapper"><button class="btn-submit">CONFIRM</button></div>
</div>

<div id="log-in-modal">
  <div class="header-modal"><div class="close" (click)="closeLoginModal()">+</div> Log in</div><hr/>
  <div class="log-in-content">
    <div class="email"><i class="fas fa-at fa-2x"></i> <input type="text"    placeholder="Email address*" class="form-input"> </div><br/>
    <div class="name"><i class="fas fa-lock fa-2x"></i>     <input type="password" placeholder="Password*"  class="form-input"> </div><br/>
  </div><hr/>
  <div class="btn-login-wrapper"><button class="btn-submit" (click)="logUser()">CONFIRM</button></div>
</div>

<div class="header">
    <a id="logo" [routerLink]="['/home']">{{title}}</a> 
    <div class="search">
      <div class="filter">
          <a href="#" class="link-light dropdown-toggle item" 
           role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</a>
          <div class="dropdown-menu drop" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Movies</a>
            <a class="dropdown-item" href="#">TV shows</a>
          </div>
      </div>
      <div class="search-field-wrapper">
        <input id="search-field" class="link-dark dropdown-toggle item" type="text" [(ngModel)]='searchParam' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <table  class="dropdown-menu drop" aria-labelledby="search-field" style="width: 54%;"> 
          <tr class="dropdown-item result-header">
              <img class="movie-img" src="../../../assets/images/godfather.jpg" />
              <div class="title-and-image">
                  <label> The Godfather </label>
                  <label>1972</label>
                  <label>Marlon Brando, Al Pacino</label>
              </div><hr/>
          </tr>
          <tr class="dropdown-item result-header">
            <img class="movie-img" src="../../../assets/images/cover/godfather-2.jpg" />
            <div class="title-and-image">
                <label> The Godfather II</label>
                <label>1974</label>
                <label>Rober De Niro, Al Pacino</label>
            </div><hr/>
          </tr>
        </table>
      </div>
      
    </div>
    <div class="login" *ngIf="!loggedUser">
      <a href="#" class="link-light item" (click)="openSignUpModal($event)">Sign up</a>
      <a href="#" class="link-light item" (click)="openLoginModal($event)" >Log in</a>
    </div>
    <div class="login" *ngIf="loggedUser">
      <a class="link-light item" [routerLink]="['/user', loggedUser.id]" > My profile</a>
    </div>
</div>
