.header{
    display: flex;
    flex-direction: row;
    background-color: #181818;
    justify-content: space-evenly;
    margin-bottom: 0px;
}
#logo{
    color:rgba(255, 255, 255, 0.88);
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-family: sans-serif;
    font-size: x-large;
}
.search{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-field-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.result-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 25%;
  padding: 1%;
}
.search-results{
    background-color: #181818;
}
.title-and-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
}
.movie-img{
    width: 70px;
    height: 5em;
}
#search-field{
    width: 100%;
    border-radius:1.5rem;
    height: 40px;  
    margin-left: 1%;
    text-indent: 10px;
}
.login{
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
}
#sign-up-modal{
  display: none;
  flex-direction: column;
  position: fixed;
  width: 35%;
  height: 75%;
  background-color: rgb(15, 15, 15);
  margin: 5% 30%;
}
#log-in-modal{
  display: none;
  flex-direction: column;
  position: fixed;
  width: 35%;
  height: 50%;
  background-color: rgb(15, 15, 15);
  margin: 10% 30%;
}
.header-modal{
  width: 100%;
  height: 10%;
  font-size: 30px;
  color: rgb(238, 220, 55);
  padding: 4% 40%;
  padding-bottom: 7%;
}
.sign-up-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.log-in-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 0%;
}
.name{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.email{
  display: flex;
  flex-direction: row;
  margin-left: 9%;
}
.form-input{
  width: 65%;
  height: 3em;
  border-width: 1px;
  border-radius: 10px;
  text-indent: 10px;
  margin-left: 5%;
}
.fas{
  color: #f3ce13;
}
.close{
  position: absolute;
  top:0;
  right: 3%;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  color: #797575;
}
.close:hover{
  position: absolute;
  top:0;
  right: 3%;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
  color: #b4b0b0;
}
.btn-submit-wrapper{
  display: flex;
  justify-content: center;
  height: 20%;
}
.btn-login-wrapper{
  display: flex;
  justify-content: center;
  height: 40%;
}
.btn-submit{
  width: 25%;
  height: 3em;
  color: black;
  font-family: sans-serif;
  background-color: #f3ce13;
  border: none;
} 