<div class="landing-page">
    <div class="header">
        <div class="logo">
            <h2 id="logo">CINEMATIC</h2>
        </div>
        <div class="buttons-div">
            <a href="#" class="link-light item" id="sign-up-btn" [routerLink]="['/register']">Sign up</a>
            <a href="#" class="link-light item" id="login-btn"   [routerLink]="['/login']">Log in</a>
        </div>
    </div> 
    <div class="body">
        <div class="body-gap"></div>
        <div class="message">
            <h1>Your favorite movie club</h1>
        </div>
    </div>
</div>
