.landing-page{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background:url(../../assets/images/main-3.PNG);
    background-size:cover;
    box-shadow: inset 0 0 0 1000px rgba(16, 50, 112, 0.1);
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 3px #363636;
  }
  .body{
    margin: 0%;
  }
  .header{
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 1vw;
    height: 30%;
}
#logo{
    color:rgba(243, 244, 246, 0.88);
    margin-top:15px;
    margin-left: -130px;
}
.logo{
    display: flex;
    flex: 1;
    justify-content: center;
}
.buttons-div{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 8%;
    margin-top: 20px;
    font-size: 16px;
}
#sign-up-btn{
    margin-right: 4%;
    color:rgba(245, 245, 245, 0.88);
}
#login-btn{
    color:rgba(255, 255, 255, 0.88);
}
.message{
    display: flex;
    flex:1;
    color:white;
    margin-left: 25%;
    margin-right: 25%;
    height: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
h1{
    font-size: 36px;
    color:white;
}
.body{
    display:flex;
    flex-direction: row;
    height: 70%;
}