<div class="title-wrapper">
    <span class="title-wrap">
        <span class="vl"></span>
        <h3 class="title"> &nbsp;{{title}}</h3>
    </span>
    <button class="add-review-btn" (click)="addComment($event)"><i class="fas fa-plus"></i>&nbsp; <span> Review </span></button>
</div>

<div id="add-comment-modal" >
    <div class="close" (click)="closeModal()">+</div>
    <div class="add-comment-header">
        <img class="movie-img" [attr.src]=movie.coverImage/>
        <div class="title-and-image">
            <h4> {{movie.name}} </h4><hr/>
            <h3> Add your review</h3>
        </div><hr/>
    </div>
    <div class="user-rating">
        <h5> Your rating</h5>
        <div class="stars">
            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
               <input type="radio" id="star10" name="rating" value="10" [(ngModel)]="newRate"/><label for="star10" title="10 star"></label>
                <input type="radio" id="star9" name="rating" value="9" [(ngModel)]="newRate"/><label for="star9" title="9 star"></label>
                <input type="radio" id="star8" name="rating" value="8" [(ngModel)]="newRate"/><label for="star8" title="8 star"></label>
                <input type="radio" id="star7" name="rating" value="7" [(ngModel)]="newRate"/><label for="star7" title="7 star"></label>
                <input type="radio" id="star6" name="rating" value="6" [(ngModel)]="newRate"/><label for="star6" title="6 star"></label>
                <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="newRate"/><label for="star5" title="5 star"></label>
                <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="newRate"/><label for="star4" title="4 star"></label>
                <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="newRate"/><label for="star3" title="3 star"></label>
                <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="newRate"/><label for="star2" title="2 star"></label>
                <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="newRate"/><label for="star1" title="1 star"></label>
            </div>
            <label> {{newRate}}</label>
        </div><br/>
        <h5> Your review</h5>
        <textarea class="comment" placeholder="Write your review here"></textarea>
        <div class="submit-btns">
            <button class="cancel-btn" (click)="closeModal()"> Cancel </button>
            <button class="submit-btn"> Submit </button>
        </div>
    </div>
</div>

<div class="comments-wrapper" *ngIf="movie.reviews">
    <div class="comment-card" *ngFor="let review of movie.reviews">
        <div class="comment">
            <div class="rate">
                <span class="rating-star"><i class="fas fa-star fa-1x" style="color:#f3ce13"></i>  {{review.grade}}/10</span>
            </div>
            <p class="content"> {{review.content}} </p>
        </div>
    </div>
</div>
    