<div class="page">
    <navbar></navbar>
    <div class="title-wrapper">
        <span class="vl"></span>
        <h1 class="title"> Add new movie</h1>
    </div>
    <div class="form-wrapper">
        <div class="left-side">
            <input class="form-input" type="text" placeholder="Name*" ><br/>
            <input class="form-input" type="numver" placeholder="Duration in minutes*"><br/>
            <input class="form-input" type="text"   placeholder="Country of origin*"><br/><hr/><br/>
            <textarea placeholder="Description*"   class="description" ></textarea><br/>
            <textarea placeholder="Storyline*"     class="storyline"></textarea><br/><hr/><br/>
             <!-- Director -->
            <h6> Director: </h6><br/>
            <ul> <li><input class="form-input" type="text"><br/></li></ul><br/><hr/><br/>
             <!-- Writters -->
             <div class="multiple-inputs">
                <h6> Writters: </h6>
                <div class="icons">
                    <span><i class="fas fa-plus-square fa-2x icon"  (click)="increaseWrittersNum($event)"></i></span>
                    <span><i class="fas fa-minus-square fa-2x icon" (click)="decreaseWrittersNum($event)"></i></span>
                </div>
            </div>
            <ul *ngIf="writtersNum">
                <li *ngFor="let w of wNumbers"> <input type="text" class="form-input"/> </li>
            </ul><hr/><br/>
             <!--Actors-->
             <div class="multiple-inputs">
                <h6> Actors: </h6>
                <div class="icons">
                    <span><i class="fas fa-plus-square fa-2x icon"  (click)="increaseActorsNum($event)"></i></span>
                    <span><i class="fas fa-minus-square fa-2x icon" (click)="decreaseActorsNum($event)"></i></span>
                </div>
            </div>
            <ul *ngIf="actorsNum">
                <li *ngFor="let a of aNumbers"><input type="text" class="form-input"/> </li>
            </ul><hr/><br/>           
        </div>

        <div class="right-side">
            <!-- Movie genres-->
            <div class="genre">
                <h6> Genre: </h6>
                <div class="genre-inputs">
                    <span>
                        <input type="checkbox" id="action" value="0" [(ngModel)]="newMovie.genre">
                        <label for="action">Action</label>
                    </span>
                    <span>
                        <input type="checkbox" id="comedy" value="1" [(ngModel)]="newMovie.genre">
                        <label for="comedy">Comedy</label>
                    </span>
                    <span>
                        <input type="checkbox" id="crime" value="2" [(ngModel)]="newMovie.genre">
                        <label for="crime">Crime</label>
                    </span>
                    <span>
                        <input type="checkbox" id="drama" value="3" [(ngModel)]="newMovie.genre">
                        <label for="drama">Drama</label>
                    </span>
                    <span>
                        <input type="checkbox" id="fantasy" value="4" [(ngModel)]="newMovie.genre">
                        <label for="fantasy">Fantasy</label>
                    </span>
                    <span>
                        <input type="checkbox" id="horror" value="5" [(ngModel)]="newMovie.genre">
                        <label for="horror">Horror</label>
                    </span>
                    <span>
                        <input type="checkbox" id="mystery" value="6" [(ngModel)]="newMovie.genre">
                        <label for="mystery">Mystery</label>
                    </span>
                    <span>
                        <input type="checkbox" id="romance" value="7" [(ngModel)]="newMovie.genre">
                        <label for="romance">Romance</label>
                    </span>
                    <span>
                        <input type="checkbox" id="scifi" value="8" [(ngModel)]="newMovie.genre">
                        <label for="scifi">Science Fiction</label>
                    </span>
                    <span>
                        <input type="checkbox" id="thriller" value="9" [(ngModel)]="newMovie.genre">
                        <label for="thriller">Thriller</label>
                    </span>
                    <span>
                        <input type="checkbox" id="western" value="10" [(ngModel)]="newMovie.genre">
                        <label for="western">Western</label>
                    </span>
                    <span>
                        <input type="checkbox" id="biography" value="11" [(ngModel)]="newMovie.genre">
                        <label for="biography">Biography</label>
                    </span>
                </div>
            </div><hr/><br/>

            <div class="images">
                <!--Poster image upload -->
                <div class="upload-images">
                    <p> Upload poster: </p>
                    <input type="file" class="file-upload" (change)="posterAdded($event)"/>
                </div> <br/>
                <div  class="images-preview" *ngIf="imagePoster">
                    <div> <img [src]="imagePoster | safeResourceUrl"/> </div>
                </div>       
            </div><br/><hr/><br/>
            <div class="images">
                <!--Images upload -->
                <div class="upload-images">
                    <p> Upload images: </p>
                    <input type="file" class="file-upload" (change)="imageAdded($event)"/>
                </div> <br/>
                <div  class="images-preview" *ngIf="imagesFrontend">
                    <div *ngFor="let image of imagesFrontend"> <img [src]="image | safeResourceUrl"/> </div>
                </div>       
            </div><br/><hr/><br/>
            <div class="btn-div">
                <button class="btn cancel-button">Cancel</button>
                <button class="btn save-button" >Confirm</button> 
            </div>
        </div>
    </div>
</div>
