.page, .dark-part{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 30, 30);
}
.light-part{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.title-wrapper{
    display: flex;
    flex-direction: row;
    margin: 3% 18%;
    justify-content: baseline;
}
.vl{
    border-left: 6px solid #f3ce13;
    height: 40px;
    margin-right: 15px;
}
.storyline{
    margin: 0% 18%;
    font-size: 16px;
}

.storyline > p{
    text-align: justify;
}

  