<div class="page">
    <div class="dark-part">
        <movie-caption [movie]="movie"></movie-caption>
        <image-gallery [images]="movie.images"></image-gallery>
        <movie-details [movie]="movie"></movie-details>
    </div>
    <div class="light-part">
        <actor-list [title]="title" [actors]="actors"></actor-list>
        <div class="description">
            <div class="title-wrapper">
                <span class="vl"></span>
                <h3 class="title">Storyline</h3>
            </div>
            <div class="storyline"> <p> {{movie.storyline}} </p> </div>
            <movie-comments [reviews]="movie.reviews"></movie-comments>
        </div>
    </div>
</div>
