<div class="title-wrapper">
    <span class="vl"></span>
    <h3 class="title">Top cast</h3>
</div>
<div class="actors-wrapper" *ngIf="actors">
    <div class="actor-card" *ngFor="let actor of actors">
        <div class="img-div">
            <img class="img-class" src={{actor.image}}/>
        </div>
        <div class="actor-role">
            <p class="name"> {{actor.firstName}}  {{actor.lastName}}</p>
            <p class="role"> as {{actor.roleName}} </p>
        </div>
    </div>
</div>
    